@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 5rem;
}

.container {
  padding-inline: 10px;
}

.triangle-slide-1 {
  animation: slide1 30s linear infinite;
}

.triangle-slide-2 {
  animation: slide2 30s linear infinite;
}

@keyframes slide1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Move only half width */
  }
}

@keyframes slide2 {
  0% {
    transform: translateX(-0.875rem);
  }
  100% {
    transform: translateX(calc(-50% - 0.875rem)); /* Half width + offset */
  }
}